html {
    --black: #111111;
    --white: #f4f4f4;

    --padding: 1em;

    --H1fontsize: 40px;
    --H2fontsize: 24px;
    --H3fontsize: 20px;
    --Pfontsize: 16px;
    --labelfontsize: 17px;
    --btnfontsize: 20px;

    --inputfieldheight: 2em;

    --Ppadding: 1em;
    --sectiongap: 0.5em;
    --inputgap: 0.4em;
}

@font-face {
    font-family: Lexend;
    src: url(../fonts/Lexend-VariableFont_wght.ttf);
}

h1, h2, h3 {
    font-weight: 600;
    margin: 0;
}

p {
    margin: 0;
}

h1, h2 {
    letter-spacing: -0.02em;
}

h1 {
    font-size: var(--H1fontsize);
}

h2 {
    font-size: var(--H2fontsize);
}

h3 {
    font-size: var(--H3fontsize);
}

p, span, summary, a {
    font-size: var(--Pfontsize);
}

main label, footer label {
    font-weight: 500;
    font-size: var(--labelfontsize);
}

body {
    background-color: var(--black);
    font-family: Lexend;
    color: var(--white);
    margin: 0;
}

.header-logo {
    height: 4em;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--black);
    align-items: center;
    padding: 0 var(--padding);
}

.desktop-nav-links {
    display: none;
}

.dropdown-label img {
    height: 2em;
}

.menu-x {
    display: none;
}

.dropdown-label {
    cursor: pointer;
}

.dropdown input {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--black);
    list-style: none;
    padding: 1em var(--padding);
    margin: 4.1em 0 0 0;
}

.dropdown-menu a {
    display: flex;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.5em;
    align-items: center;
    height: 2em;
}

.dropdown-toggle:checked ~ .dropdown-menu {
    display: block;
}

.dropdown-toggle:checked ~ .dropdown-label .menu-x {
    display: inline;
}

.dropdown-toggle:checked ~ .dropdown-label .menu-hamburger {
    display: none;
}

header {
    margin-top: 4em;
}

.home-hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 1)), url(../images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    padding: 8em var(--padding);
}

.page-header {
    text-align: center;
    background-color: #898989;
    padding: 2em 0;
}

header p {
    margin: 1em 0 3em;
}

.hero-cta {
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: var(--btnfontsize);
}

main {
    padding: 2em var(--padding);
}

input[type="text"], select, textarea {
    font-size: var(--Pfontsize);
    color: var(--black);
    font-family: Lexend;
}

.section1-home, .section-home-features, .section-reviews, .section-end-home, .features-feature-section, .ondersteuning-faq-section, .ondersteuning-contact-section {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    gap: var(--sectiongap);
}







.section1-img {
    width: 100%;
}

.section-home-features {
    display: flex;
    flex-direction: column;
    gap: var(--sectiongap);
}





.features-carousel {
    display: flex;
    gap: 1em;
    overflow-x: auto;
}

.features-carousel section {
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    margin: 0;
    border-radius: 0.6em;
    overflow: hidden;
    min-width: 15em;
}

.features-carousel h3 {
    padding: 0.3em;
}

.features-btn {
    color: var(--black);
    text-decoration: none;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: var(--btnfontsize);
}









.allreviews {
    display: grid;
    gap: 1em;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: start;

    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
}

.review {
    display: flex;
    gap: 1em;
    align-items: flex-start;
}

.review div {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 14em;
}

.review span {
    font-weight: 600;
}

.review img {
    width: 4em;
}







.section-end-home-cta {
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: var(--btnfontsize);
}






















.ondersteuning-faq-section {
    gap: 1.5em;
}

.ondersteuning-faq-section details p {
    padding: var(--Ppadding) 0;
}

.ondersteuning-faq-section details {
    padding-bottom: 1.2em;
}

.ondersteuning-faq-section details:not(:last-child) {
    border-bottom: 1px solid var(--white);
}

.ondersteuning-faq-section summary {
    cursor: pointer;
    position: relative;
    z-index: -99;
}

.ondersteuning-faq-section summary::marker {
    content: none;
}

.ondersteuning-faq-section summary::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 1.2em;
    height: 1.2em;
    background-image: url('../images/icon-chevron-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ondersteuning-faq-section details[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}

hr {
    width: 100%;
}

.ondersteuning-contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.ondersteuning-contact-form form input, .ondersteuning-contact-form form select {
    height: var(--inputfieldheight);
}

#bericht {
    height: calc(var(--inputfieldheight) * 2);
}

.ondersteuning-contact-form form div {
    display: flex;
    flex-direction: column;
    gap: var(--inputgap);
}

.ondersteuning-contact-section .submit-input input {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: var(--btnfontsize);
}











footer {
    padding: 1em var(--padding) 2em;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer-logo {
    height: 4em;
    align-self: flex-start;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-newsletter-submit-input input {
    all: unset;
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    text-align: center;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    font-weight: 600;
    font-size: var(--btnfontsize);
    width: 100%;
    box-sizing: border-box;
}

.footer-newsletter-email-input {
    display: flex;
    flex-direction: column;
    gap: var(--inputgap);
}

.footer-newsletter-email-input input {
    height: var(--inputfieldheight);
}

footer a {
    text-decoration: none;
    color: var(--white);
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.footer-socials a {
    display: flex;
    gap: 1em;
    align-items: center;
}

.footer-general {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.footer-copyright {
    text-align: center;
}

.hero-cta:hover, .features-btn:hover, .section-end-home-cta:hover, .ondersteuning-contact-section .submit-input input:hover, .footer-newsletter-submit-input input:hover {
    background-color: #cfcfcf;
}





@media (min-width: 700px) {
    html {
        --padding: 2.5em;

        --H1fontsize: 64px;
        --H2fontsize: 32px;
        --H3fontsize: 24px;
        --Pfontsize: 18px;
        --labelfontsize: 20px;
        --btnfontsize: 28px;

        --inputfieldheight: 3em;

        --Ppadding: 1em;
        --sectiongap: 0.5em;
        --inputgap: 0.4em;
    }

    .home-hero {
        padding: 8em 9em 8em var(--padding);
    }

    .page-header {
        padding: 4em 0;
    }

    .section1-home {
        flex-direction: row;
        align-items: flex-start;
    }

    .features-btn {
        width: 40%;
        margin: 0 auto;
    }

    .section-end-home-cta {
        width: 40%;
    }

    .review div {
        width: 20em;
    }

    .review img {
        width: 5em;
    }

    .features-feature-section {
        flex-direction: row;
    }

    .features-feature-section-content {
        display: flex;
        flex-direction: column;
    }

    .features-feature-section-content-left {
        order: -1;
    }

    .footer-newsletter {
        width: 60%;
    }

    .footer-newsletter-submit-input input {
        width: auto;
    }

    .footer-links {
        flex-direction: row;
    }

    .footer-links div {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    html {
        --padding: 5em;

        --H1fontsize: 72px;
        --H2fontsize: 40px;
        --H3fontsize: 24px;
        --Pfontsize: 20px;
        --labelfontsize: 20px;
        --btnfontsize: 28px;

        --inputfieldheight: 3em;

        --Ppadding: 1em;
        --sectiongap: 1.5em;
        --inputgap: 0.4em;
    }

    main {
        padding: 2em calc(var(--padding) * 2);
    }

    .desktop-nav-links {
        display: flex;
        gap: 5em;
    }

    .desktop-nav-links a {
        text-decoration: none;
        color: var(--white);
    }

    .dropdown {
        display: none;
    }

    .home-hero {
        padding: 10em 35% 10em var(--padding);
    }

    .review img {
        width: 4em;
    }

    .footer-newsletter {
        width: 40%;
    }

    .allreviews {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .review {
        min-width: 0;
    }

    .section-home-features {
        text-align: center;
    }

    .features-carousel {
        justify-content: center;
    }
}